@page "/"

@inherits BaseIndex

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TestComponent>
    <p>I should be wrapped in a div with a GUID identifier.</p>
</TestComponent>
